body {
  background-color: ##aaa;
}

h1 {
  font-family: helvetica;
  color: black;
  text-align: center;
}

h1 {
  font-family: helvetica;
  color: black;
  text-align: center;
}

h2 {
  font-family: helvetica;
  color: black;
  text-align: center;
}

h3 {
  font-family: helvetica;
  color: black;
  text-align: center;
}

p {
  font-family: helvetica;
  color: black;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.centeredParagraph {
    text-align: center;
}

.blackBackground {
   background-color: black;
   color: #fff;
   opacity: 1.0;
}

#special {
  background-color: #666;
}

/**************** div ****************/

* div {
  /*background-color: blue;*/
  font-family: helvetica;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
